.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.check-cont img {
    margin: 2em 0 1em 0;
    width: 80px;
    height: 80px;
}

.big-head {
    font-size: 2.1em;
    font-weight: 600;
    text-align: center;
}

.small-head {
    font-size: 1em;
    font-weight: 600;
    color: #9ba0ab;
    margin-top: 0.5em;
    margin-bottom: 2.5em;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    font-size: 1em;
    margin-bottom: 2em;
}

.form-container label {
    font-weight: 600;
    color: #727780;
}

.form-container label span {
    color: #9ba0ab;
}

.form-container input {
    height: 3em;
    font-size: 1em;
    padding: 0 0.5em;
    font-weight: 500;
    margin: 0.5em 0 1em 0;
    border-radius: 5px;
    border: 3px solid #f4f6f9;
}

.form-container input::placeholder {
    color: #bdc5d6;
}

.card-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 2em;
}

#RFS-StepButton {
    cursor: default;
}

@media only screen and (max-width: 450px) {
    .big-head {
        font-size: 1.1em !important;
    }

    .small-head {
        font-size: 0.5em !important;
    }

    #RFS-StepButton {
        width: 20px !important;
        height: 20px !important;
    }

    #RFS-StepButton span {
        font-size: 0.5em;
    }
}

@media only screen and (max-width: 930px) {
    .big-head {
        font-size: 1.5em;
    }

    .small-head,
    .form-container input,
    .form-container label {
        font-size: 0.7em;
    }

    .form-container,
    .card-container {
        width: 100%;
    }
}
